@import url('https://fonts.googleapis.com/css?family=Space+Mono');

* {
	box-sizing: border-box;
	margin: 0;
}

body, html {
	background: #ef9a9a;
	display: grid;
	height: 100%;
	text-align: center;
}

h1 {
	font-family: 'Space Mono', monospace;
	font-size: 60px;
	color: #f8f9fa;
	margin: auto;
}